/* Write your CSS here */
img {
  height: 200px;
}
.card {
  width: 50%;
  height: 50%;
}
.kk {
  font-family: 'Roboto';
  color: #f8fafc;
  font-size: 23px;
}
li {
  list-style-type: none;
}
p {
  font-family: 'Roboto';
  color: #f8fafc;
}
button {
  border: 0px;
  background-color: transparent;
}
